<footer class="footer">
  <div class="container footer-container">
    <div class="contact-text">
      Contact
    </div>

    <div id="contact-info" class="contact-details">
      <div class="contact-link">
        <%= link_to "mailto:ben@benjamin-randolph.com", target: :_blank do %>
          <ion-icon name="mail-outline" class="contact-icon"></ion-icon>
        <% end %>
      </div>

      <div class="contact-link">
        <%=  link_to "https://www.linkedin.com/in/ben-randolph-43881a95/", target: :_blank do %>
          <ion-icon name="logo-linkedin" class="contact-icon"></ion-icon>
        <% end %>
      </div>

      <div class="contact-link">
        <%= link_to "https://github.com/neb417", target: :_blank do %>
          <ion-icon name="logo-github" class="contact-icon"></ion-icon>
        <% end %>
      </div>

      <div class="contact-text contact-text-link">
        <%= link_to "CV", "https://drive.google.com/file/d/1zMLPUzjAUYspkbAKokW8El-ggVpjKNJs/view?usp=sharing", target: "_blank", class: "cv-link" %>
      </div>
    </div>
  </div>
</footer>
