<footer class="footer">
  <div class="container footer-container">
    <div class="contact-text">
      Contact
    </div>

    <div id="contact-info" class="contact-details">
      <div class="contact-link">
        <a href="mailto:ben@benjamin-randolph.com">
          <ion-icon name="mail-outline" class="contact-icon"></ion-icon>
        </a>
      </div>

      <div class="contact-link">
        <a href="https://www.linkedin.com/in/ben-randolph-43881a95/">
          <ion-icon name="logo-linkedin"  class="contact-icon"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</footer>