<%= turbo_frame_tag "notices" %>
  <% flash.each do |flash_type, message| %>
    <div class="container flash-container <%= flash_type %>">
      <div class="flash-message">
        <%= message %>
      </div>
    </div>
  <% end %>
