<section class="container as_seen_in_container">
  <section class="page-title">
    <div class="container page-title-container">
      <div class="page-title-text">
        <h1 class="hero-name">As Seen in</h1>
      </div>
      <div></div>
    </div>
  </section>
  <div class="videos-container">
    <ul class="videos">
      <li class="video">
        <div class="video-heading">
          Adding ReCaptcha with Turbo February 2023
        </div>
        <iframe class="video-frame"
                src="https://www.youtube.com/embed/OeM-8YJ0m4Y?si=KOT56KFhJHXz1Pjh"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </li>
      <li class="video">
        <div class="video-heading">
          The very basics Ruby on Rails Turbo December 2024
        </div>
        <iframe class="video-frame"
                src="https://www.youtube.com/embed/VInw1iPLfEE?si=vj9PRYK7vA0TSLVC"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </li>
      <li class="video">
        <div class="video-heading">
          Ruby on Rails strict locals enforcement December 2025
        </div>
        <iframe class="video-frame"
                src="https://www.youtube.com/embed/_6UH33AN12I?si=b889C_3J-L6mlANr"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </li>
    </ul>
  </div>
</section>