.hero-section {
  background-color: #ddd;
}

.hero-container {
  display: flex;
  margin-left: 4.8rem;
  gap: 9.6rem;
}

.hero-name {
  font-size: 6.4rem;
}

.hero-text {
  align-self: center;
  justify-self: center;
}

.hero-title {
  font-size: 2.4rem;
  font-weight: 300;
  margin-top: 1.2rem;
}


.hero-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: 0.6rem;
}

.hero-img {
  width: 50%;
  border-radius: 50%;
  margin: 4.8rem 0;
}