.flash-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2.4rem;
}

.notice {
  background-color: #a080c0;
  color: #fff;
}

.flash-message {
  font-size: 1.8rem;
}