.flash-container {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #a080c0;
  color: #fff;
}

.flash-container.show-flash {
  flex: 1;
}

.flash-message {
  flex: 1;
  font-size: 1.6rem;
  text-align: center;
}