.flash-container {
  display: flex;
  align-content: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  background-color: #a080c0;
  color: #fff;
}

.flash-container.show-flash {
  opacity: 1;
}

.flash-message {
  padding: 4.8rem 14.4rem 4.8rem 19rem;
  font-size: 1.6rem;
}