/***********************************/
/* BELOW 1168px (Landscape Tablets) */
/***********************************/
@media (max-width: 73rem) {
  .header {
    flex-direction: column;
    align-content: center;
  }

  .nav-container{
    align-self: center;
    padding: 4.8rem 0;
  }

  .flash-container.show-flash {
    flex: 1;
    padding: 2.4rem 0;
  }

  .hero-container {
    display: block;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .hero-name {
    font-size: 6.2rem;
    text-align: center;
  }

  .hero-title {
    text-align: center;
  }

  .hero-img-container {
    padding-top: 0;
  }

  .hero-img {
    width: 50%;
    height: auto;
  }

  .about-grid {
    display: block;
  }
}

/***********************************/
/* BELOW 656px */
/***********************************/

@media (max-width: 41rem) {
  .header {
    flex-direction: row-reverse;
  }

  .btn-mobile-nav {
    display: block;
    text-align: right;
  }

  .icon-mobile-nav {
    padding: 2rem 2rem 2rem;
  }

  .nav-container {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it inaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .nav-container {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3rem;
  }
}